@model ChessinatorInfrastructure.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Вхід";
    var registrationSuccess = TempData["RegistrationSuccess"] as string;
}
<head>
    <link href="~/lib/bootstrap/dist/css/login.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
    <div id="logcontainer">
            <div id="registrationToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        @registrationSuccess
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>

            <form method="post" asp-controller="Account" asp-action="Login"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly"></div>
            <div class="title">Вхід</div>
            <div class="input-box underline">
                    <input asp-for="Email" placeholder="Пошта" required/>
                    <span asp-validation-for="Email"></span>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                    <input asp-for="Password" placeholder="Пароль" required />
                    <span asp-validation-for="Password"></span>
                <div class="underline"></div>
            </div>
                <div class="check">
                    <input asp-for="RememberMe" />
                    <label asp-for="RememberMe"></label>
                </div>
            <div class="input-box button">
                    <input type="submit" value="Увійти" />
            </div>
        </form>
    </div>
    </div>
</body>

@if (!string.IsNullOrEmpty(registrationSuccess))
{
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            var toastEl = document.getElementById('registrationToast');
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        });
    </script>
}