@model ChessinatorDomain.Model.TimeControl

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TimeControl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BaseMinutes" class="control-label"></label>
                <input asp-for="BaseMinutes" class="form-control" />
                <span asp-validation-for="BaseMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncSeconds" class="control-label"></label>
                <input asp-for="IncSeconds" class="form-control" />
                <span asp-validation-for="IncSeconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class ="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
